@media (max-width: 1500px) {

    /* Header */

    .header__logo {
        margin-right: 40px;
    }

    .header__button {
        margin-left: 60px;
    }
}

@media (max-width: 1400px) {

    /* Header */

    .nav {
        display: none;
    }

    .header__mobile {
        display: flex;
    }

    .header__button {
        margin-left: 20px;
    }

    /* About */

    .about__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 200px;
    }

    .col-4 {
        grid-column: 1 / -1;
        grid-row: span 2;
    }


}

@media (max-width: 1300px) {

    /* Hero */

    .hero__inner {
        flex-direction: column;
    }

    .hero__title {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .hero__inner-list {
        gap: 10px;
    }

}

@media (max-width: 1100px) {

    /* About */

    .about__inner {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 200px 200px;
    }

    .about__col-item img {
        width: 90%;
    }

    .col-3 {
        grid-column: 1 / -1;
        flex-direction: row;
    }

    /* Roadmap */

    .roadmap__title {
        margin-left: 0;
    }

    /* Course */

    .course__row {
        grid-template-rows: auto;
    }

    .course__row-1 {
        grid-template-columns: 1fr 1fr;
    }

    .course__row-1>.course__row-item:first-child {
        grid-column: 1 / -1;
    }

    .course__row-2 {
        grid-template-columns: 1fr 1fr;
    }

    .course__row-2>.course__row-item:last-child {
        grid-column: 1 / -1;
    }


}

@media (max-width: 930px) {

    /* Header */

    .header__location {
        display: none;
    }

}

@media (max-width: 670px) {

    /* Header */

    .header__button {
        display: none;
    }

    .hero__title {
        font-size: 12vw;
    }

    /* About */

    .about__title {
        font-size: 12vw;
    }

    .about__inner {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .col-item-title {
        padding-bottom: 40px;
    }

    .about__col {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .col-1 {
        margin-bottom: 20px;
    }

    .col-3 {
        margin-top: 20px;
    }

    .about__col-item {
        min-height: 200px;
    }

    /* Roadmap */

    .roadmap__title {
        font-size: 12vw;
    }

    /* Courses */

    .course__inner {
        font-size: 8vw;
    }

    .course__title {
        font-size: 12vw;
    }

    .course__row-1 {
        grid-template-columns: 1fr;
    }

    .course__row-2 {
        grid-template-columns: 1fr;
    }

}