@import 'fonts.css';
@import 'reset.css';
@import 'global.css';

@import 'header.css';
@import 'footer.css';

/* Hero */

.hero {
    padding: 165px 0 90px 0
}

.hero__inner {
    display: flex;
    margin-bottom: 68px;
}

.hero__title {
    font-size: 80px;
    font-family: Arial;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: -0.417px;
    margin-right: 220px;
}

.hero__title span {
    color: var(--accent);
}

.hero__inner-list {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}

.hero__inner-item {
    display: flex;
    padding-block: 14px;
    padding-left: 20px;
    width: 100%;
    background: #535353;
    color: #F2F2F2;
}

.hero__slider {}

.hero__swiper {}

.hero__slide {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 42px;
    color: #F2F2F2;
    height: 446px;
}

.slide-1 {
    background: var(--accent);
}

.slide-2 {
    background: #FBBF9B;
}

.slide-3 {
    background: #fbb1b7;
}

.swiper-pagination-bullet {
    background: url('../img/icon/pagination-inactive.svg') no-repeat center center;
    background-size: contain;
    opacity: .5;
    width: 47px;
    height: 20px;
    border-radius: 10%;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: url('../img/icon/pagination-active.svg') no-repeat center center;
    background-size: contain;
    opacity: 1;
    width: 150px;
    height: 20px;
    border-radius: 10%;
    transform: scale(1.1);
}

/* About */

.about {
    padding-block: 90px 220px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.about__col {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;

    font-size: 34px;
    font-weight: 500;
}

.about__col-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 24px;
}

.about__col-item img {
    margin-top: -60px;
}

.col-item-title {
    flex-grow: 0;
    padding-bottom: 134px;
    align-items: flex-start;
    justify-content: flex-start;
}

.about__title {
    font-size: 68px;
    font-weight: 500;
    text-transform: uppercase;
}

.col-item--blue {
    color: #FFF;
    background: var(--accent);
}

.col-item--yellow {
    color: #FFF;
    background: var(--btn-bg-secondary);
}

.col-item--white {
    border: 3.667px solid #000;
}

.col-item--black {
    background: var(--btn-bg-main);
    color: var(--bg-main);
}


/* Roadmap */

.roadmap {
    padding-bottom: 264px;
}

.roadmap__inner {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.roadmap__title {
    margin-left: 131px;
    margin-bottom: 61px;
    font-size: 62px;
    font-weight: 500;
    text-transform: uppercase;
}

.roadmap__filler {
    background: #2C2C2C;
    width: 100%;
    height: 589px;
    margin-bottom: 98px;
}

.roadmap__list {
    display: flex;
    flex-wrap: wrap;
    gap: 42px 22px;
    padding-inline: 45px;
    align-items: center;
    justify-content: center;
}

.roadmap__item {
    display: flex;
    align-items: center;
    background: var(--accent);
    padding: 15px 44px;
    border-radius: 50px;
    height: 78px;
}

.roadmap__item--arrow {
    background: none;
    padding: 0;
}

.roadmap__item--blue-circle,
.roadmap__item--yellow-circle,
.roadmap__item--black-circle {
    padding: 0;
    width: 78px;
    height: 78px;
}

.roadmap__item--blue-circle {
    background: var(--bg-main);
    border: 4px solid var(--accent);
}

.roadmap__item--yellow-circle {
    background: var(--btn-bg-secondary);
}

.roadmap__item--black-circle {
    background: var(--btn-bg-main);
}

.item--blue {
    color: var(--bg-main);
    background: var(--accent);
}

.roadmap__item--blue-empty {
    background: var(--bg-main);
    border: 4px solid var(--accent);
}

.item--yellow {
    color: var(--text-main);
    background: var(--btn-bg-secondary);
}

.item--black {
    color: var(--bg-main);
    background: var(--btn-bg-main);
}

.item--white {
    background: var(--bg-main);
    border: 4px solid var(--text-main);
}

.roadmap__item--long {
    width: 220px;
}


/* Course */

.course {
    padding-bottom: 324px;
}

.course__inner {
    display: flex;
    flex-direction: column;
    font-size: 55px;
    font-weight: 500;
    text-transform: uppercase;
}

.course__title {
    margin-bottom: 31px;
    margin-top: 25px;

    font-size: 62px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

.course__row {
    display: grid;
    gap: 25px;
}

.course__row-1 {
    grid-template-columns: 2.15fr 1fr 1fr;
    margin-bottom: 25px;
}

.course__row-2 {
    grid-template-columns: 1fr 1fr 2.15fr;
    margin-bottom: 100px;
}

.course__row-item {
    border-radius: 24px;
    padding: 43px 27px;
    height: 314px;
}

.course__row-item--number {
    padding: 0;
}

.course__button {
    align-self: center;
    max-width: 589px;
    width: 100%;
}

.course__button button {
    width: 100%;
    padding-block: 20px;
    background: var(--accent);
    font-size: 36px;
    color: var(--bg-main);
}